.contacts {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  ul {
    list-style: none;
  }
}

.list-contacts {
  display: flex;
  flex-direction: column;
}

.contact-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  a {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  &__icon {
    margin-right: 16px;
  }

  .contact-phone {
    font-size: 24px;
    font-weight: 500;
    &:hover {
      text-decoration: none;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  margin-top: 32px;

  &__item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link {
    cursor: pointer;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.form {
  &__body {
  }

  &__btn {
  }
}

.form-feedback {
  &__btn {
    color: #fff;
    margin-left: auto;
    margin-top: 32px;
    background: transparent;
    border: 2px solid rgba(#fff, 0.6);
    &:hover {
      color: #141414;
      background-color: #fff;
      border: 2px solid transparent;
    }
  }
}

@media (max-width: 768px) {
  .contacts__container {
    grid-template-columns: 1fr;
    gap: 64px;
  }

  .contacts-feedback {
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 375px) {
  .contacts__container {
    gap: 40px;
  }

  .contacts-feedback {
    .page-title {
      margin-bottom: 32px;
    }
  }

  .form-feedback__btn {
    width: 100%;
    height: 56px;
  }

  .contact-item .contact-phone {
    font-size: 20px;
  }
}
