:root {
  --wrapper-width: 1920px;
  --container-width: 1280px;

  --font-default: "Montserrat", sans-serif;

  --bg-body: #000;
  --main-color: #4362a0;
  --text-color: #333;
  --title-color: #212121;
}
